<!DOCTYPE html>
<html lang="en" data-theme="synthwave">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <title>Lego Collection 404</title>
</head>
<body>
  <%- include('partials/navbar', {page: ''}) %>
    <!-- Hero -->
  <div class="container mx-auto">
    <div class="hero bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <img class="w-full rounded-lg" src="/img/404.webp" alt="profile">
          <%= message%>
        </div>
      </div>
    </div>
    <br>