<!DOCTYPE html>
<html lang="en" data-theme="synthwave">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <title>Lego Collection 500</title>
</head>

<body>
  <%- include('partials/navbar', {page: '' }) %>
    <!-- Hero -->
    <div class="container mx-auto">
      <div class="hero bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">500</h1>
            <p>I'm sorry, but we have encountered the following error: set_num must be unique </p>
            <img class="w-full rounded-lg" src="/img/500Monkey.webp" alt="profile">
            <%= message%>
          </div>
        </div>
      </div>
      <br>