<!DOCTYPE html>
<html lang="en" data-theme="synthwave">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <title>Lego Collection Home</title>
</head>
<body>
  <navbar><%- include('partials/navbar') %></navbar>
<!-- Hero -->
<div class="container mx-auto">
  <div class="hero bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Welcome</h1>
        <p class="py-6">Welcome to the Lego Collection! Begin your journey here!</p>
        <a href="/lego/sets" class="btn btn-primary">Get Started </a>
      </div>
    </div>
  </div>
  <br>
  <!--Grid-->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="flex">
      <div class="card bg-base-100 shadow-xl flex flex-col h-full">
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/41624-1.jpg" alt="Lego set">
        </figure>
        <div class="card-body flex-grow">
          <h2 class="card-title">Mickey Mouse</h2>
          <p>Honors the 90th anniversary of the creation of Mickey Mouse</p>
          <div class="card-actions justify-end">
            <a href="/lego/sets/41624-1" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="card bg-base-100 shadow-xl flex flex-col h-full">
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/41632-1.jpg" alt="Lego set">
        </figure>
        <div class="card-body flex-grow">
          <h2 class="card-title">Homer Simpson & Krusty the Clown</h2>
          <p>Homer Simpson: BrickHeadz range #78</p>
          <p>Krusty the Clown: BrickHeadz range #79</p>
          <div class="card-actions justify-end">
            <a href="/lego/sets/41632-1" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="card bg-base-100 shadow-xl flex flex-col h-full">
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/41634-1.jpg" alt="Lego set">
        </figure>
        <div class="card-body flex-grow">
          <h2 class="card-title">Emmet</h2>
          <p>Available exclusively from Walmart in the United States. Limited to 5000 sets. Each set has an individually numbered holographic sticker on the box.</p>
          <div class="card-actions justify-end">
            <a href="/lego/sets/41634-1" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

