<!DOCTYPE html>
<html lang="en" data-theme="synthwave">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <title>Index</title>
</head>
<body>
  <header>
    <div>
      <h2>Assignment 2: Angelo Gatto - 017019159</h2>
    </div>
    <div class="navbar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/lego/sets">All Lego Sets</a></li>
          <li><a href="/lego/sets/num-demo">Get Set by Set Number</a></li>
          <li><a href="/lego/sets/theme-demo">Get Sets by Theme</a></li>
        </ul>
      </nav>
    </div>
    <div class="w-[150px] h-[80px] shadow-2xl bg-white rounded-lg flex justify-center items-center">
      <p class="text-center">shadow-2xl</p>
    </div>
  </header>
  <button class="btn btn-primary">Button</button>
<!--Navbar-->
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">Lego Collection</a>
    </div>
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="./about.html">About</a></li> <!-- About Link -->
        <li>
          <details>
            <summary>
              Theme
            </summary>
            <ul class="p-2 bg-base-100">
              <li><a href="/lego/sets?theme=Freestyle">Freestyle</a></li>
              <li><a href="/lego/sets?theme=Brickheadz">Brickheadz</a></li>
              <li><a href="/lego/sets?theme=TheHobbit">The Hobbit</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="./about.html">About</a></li>
        <li>
          <details>
            <summary>Theme</summary>
            <ul class="p-2 bg-base-100 right-0">
              <li><a href="/lego/sets?theme=Freestyle">Freestyle</a></li>
              <li><a href="/lego/sets?theme=Brickheadz">Brickheadz</a></li>
              <li><a href="/lego/sets?theme=TheHobbit">The Hobbit</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

<!--Grid-->
<div class="container mx-auto">
  <div class="grid grid-cols-1 mb-4">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Hello there</h1>
          <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
          <button class="btn btn-primary">Get Started</button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div class="border-2"><div>
      <figure>
        <img class="w-full" src="https://fakeimg.pl/375x375?text=[+SHOES+]" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div></div>
    <div class="border-2">02</div>
    <div class="border-2">03</div>
  </div>
</div>

  <!--Cards-->
  
</body>
</html>